[Unit]
Description=yaim Startup process
After=network-online.target

[Service]
Type=simple

User=postgres
Group=postgres

ExecStart=/usr/local/bin/yaim --config /etc/yaim.yml

ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=default.target
